/* styles.css */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
  background-color: #f8f9fa;
  height: 100vh;
  padding: 0;
}

.nav-link {
  color: #333;
}

.nav-link.active {
  color: #007bff;
}

.nav-link i {
  margin-right: 10px;
}

.premium-banner {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.premium-banner h6 {
  margin-bottom: 10px;
}

.main-content {
  padding: 20px;
}

.empty-state {
  margin-top: 100px;
}
.card {
  height: 452px;
  border-radius: 20px;
}

.card-title {
  height: 92px;
}

.card-img-top {
  border-radius: 20px;
  height: 208px;
}

/* Tooltip */
#tooltip.tooltip {
  position: absolute !important;
  display: none !important; /* Initially hidden */
  background: #fff !important;
  border: 1px solid #ccc !important;
  padding: 10px !important;
  z-index: 1000 !important;
  color: black !important; /* Ensure text color is visible */
  opacity: 1 !important; /* Force opacity to 1 */
  border-radius: 5px; /* Optional: make corners rounded */
}

#tooltip.show {
  display: block !important;
}

span[style*="background-color: yellow"] {
  cursor: pointer;
}

.tooltip button {
  margin: 5px;
  background: #007bff; /* Ensure background color is set */
  color: white; /* Ensure text color contrasts with background */
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.tooltip button:hover {
  background: #0056b3; /* Darken the button on hover */
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.custom-h1,
.custom-h2,
.custom-h3,
.custom-h4,
.custom-h5,
.custom-h6 {
  color: #333;
  font-weight: bold;
}

.custom-paragraph {
  margin-bottom: 1em;
  line-height: 1.6;
}

.custom-blockquote {
  font-style: italic;
  border-left: 4px solid #ddd;
  padding-left: 10px;
  margin-left: 0;
  color: #666;
}

.custom-list {
  margin-left: 20px;
}

.custom-list-item {
  margin-bottom: 0.5em;
}

.custom-link {
  color: #007bff;
  text-decoration: underline;
}

.custom-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1em;
}

/* Add CSS class for highlighted text */
.highlighted {
  background-color: yellow;
  cursor: pointer;
}

.mark,
mark {
  padding: 0 !important;
}
